version: '3.9'

services:
  site:
    build:
      context: .
    volumes:
      - .:/usr/src/app:delegated
    ports:
      - 3000:3000
      - 9229:9229
    command: npm run dev
    environment:
      HOST: 0.0.0.0
      PORT: 3000
      NODE_ENV: development

  storybook:
    build:
      context: .
    volumes:
      - .:/usr/src/app:delegated
    ports:
      - 6006:6006
    command: npm run build-storybook -- --no-open --host 0.0.0.0
    environment:
      HOST: 0.0.0.0
      PORT: 6006
      NODE_ENV: development
